.vscode/
.git/
.gitignore
.gitattributes
.npmignore
.prettierignore
.eslintignore
.idea/
.DS_Store
*.map
*.vsix
node_modules/
src/
out/test/
out/test-data/
out/coverage/
coverage/
typings/
tslint.json
tsconfig.json